{% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" 
                href="?page={{ page_obj.previous_page_number }}">
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" disabled href="#"
                tabindex="-1">
            {% endif %}
                Предыдущий</a>
            </li>
            {% for count in page_obj.paginator.page_range %}
            {% if page_obj.number == count %}
            <li class="page-item active">
            {% elif count >= page_obj.number|add:-2 and count <= page_obj.number|add:2  %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{ count }}">
                    {{ count }}
                </a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %} 
            <li class="page-item">
                <a class="page-link" 
                href="?page={{ page_obj.next_page_number }}">
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" disabled href="#"
                tabindex="-1">
            {% endif %}
                Следующий</a>
            </li>
        </ul>
    </nav>
{% endif %}